﻿@model List<JohnDLees.Models.Skill>
<div class="skills column">
	<table class="skills">
		@foreach (var skill in Model)
		{
			<tr class="skills">
				<td>
					@Html.DisplayFor(m => skill.Name)
				</td>
				<td class="stars">
					@Html.Partial("_SkillLevel", skill.Level)
				</td>
			</tr>
		}
	</table>
</div>