﻿@model JohnDLees.Models.IndexViewModel

﻿@{
	 ViewBag.Title = "John D Lees";
 }

<h1>Welcome</h1>
<div id="home" class="section-display">
	<div class="welcome-left-column column">
		<p>
			I am currently an IT Analyst at <a href="https://www.lifescan.com/">
            LifeScan Scotland</a>, specialising in Software Development and 
            Mobility applications.
        <br/>
			My main software projects vary greatly, from large amounts of data 
            visualisation to user information collection.
		</p>
        <p>
			My passions lie in travelling, technlogy and music: Listening, 
            playing, recording, producing.
        </p>
        <p>
			I can be reached at <a href="mailto:contact@johndlees.com">
            contact@johndlees.com</a>
		</p>
	</div>

	<div class="welcome-right-column column image-object ">
	    <img src="~/Content/images/john-train-c.jpg" alt="Hi, this is me!" 
             class="image-border image-train"/>
	</div>

</div><!--#home-->

<h1 class="dropdown">About</h1>
<div id="about" class="section-display">
	<h3>Software Work Experience</h3>
	<h7>
		LifeScan Scotland - Johnson & Johnson
	</h7>
	<div class="experience-table">

		<div class="experience-table-cell experience-table-double-column-left">
            <span>
    			IT Analyst, Contractor:<br/>
    			2016 - Present <br/><br />
    			Software Engineer Intern:<br />
    			2015 - 2016
            </span>
		</div>
		<div class="experience-table-cell">
			<p>
				Hired on a one year internship to focus on implenting a 
                mobility program, developing software applications and 
                completing validation exercies.<br/>
				Throughout the year I was informed that there was no job for 
                me once it was completed, however I was kept on as a permanent 
                contractor on a yearly contract.
			</p>
		</div>
	</div>
	<div class="experience-table-row">
		<div class="experience-table-cell experience-table-double-column-left">
			
		</div>
	</div>


	<h3>Education</h3>
	<h7>
		First Class Honours - Audio Technology with Electronics - BSc (Hons)
	</h7>
	<div class="experience-table">
		<div class="experience-table-row">
			<div class="experience-table-cell experience-table-double-column-left">
                <span>
    				Glasgow Caledonian University:<br/>
    				September 2010 - June 2014
                </span>
			</div>
			<div class="experience-table-cell">
				<p>
					The course featured a wide variety of subjects with a focus 
                    on technology and mathematics. <br />
					Each semester contained 3 modules: A technology, a 
                    mathematics and one audio/design<br />
					It included modules on UI/UX design, Java software 
                    development and MATLAB Analysis
				</p>
			</div>
		</div>
		
		<div class="experience-table-row">
			<div class="experience-table-cell experience-table-double-column-left">
                <span>
    				Fourth Year Project/Dissertation:<br />
    				September 2013 - April 2014
                </span>
			</div>
			<div class="experience-table-cell">
				<p>
					<span class="text-highlight">
						Gesture Interaction: Control in a Musical Environment
					</span><br />
					This project consisted of tracking the human body with a 
                    purpose built Arduino glove, and a Kinect video input, and 
                    then sending that information to a Max/MSP patch. Although 
                    it was aimed with an audio output, the resulting patch 
                    would allow for the control of any system.<br />
					This was mostly created in the graphical programming 
                    language Max/MSP and contained some python and a Java effect
                    module.
				</p>
			</div>
		</div><!--Uni-->
		<div class="experience-table-row">
			<div class="experience-table-cell experience-table-double-column-left">
				<span class="text-highlight">Fortrose Academy</span>
			</div>
		</div>
		<div class="experience-table-row">
			<div class="experience-table-cell experience-table-double-column-left">
				<span>August 2004 - June 2010</span>
			</div>
			<div class="experience-table-cell">
				<p>
					Throughout school I had always enjoyed technology and music,
                    and I enjoyed a variety of technology based subjects,
					until I had to focus on getting into my degree at Glasgow 
                    Caledonian University
				</p>
			</div>
		</div><!--SecondarySchool-->

	</div>
</div><!--#about-->

<h1 class="dropdown">CV</h1>
<div id="cv" class="section-display">
	<div id="pdfRenderer" class="shadow"></div>
	<div>
		<button class="download-cv node-link shadow">Download CV</button>
	</div>
</div><!--#cv-->

<h1 class="dropdown">Skills</h1>
<div id="skills" class="section-display">

    @if (Model.Skills.Count > 0){
	    <h3>Languages</h3>
    	@Html.Partial("_Skill", Model.Skills.Where(m => m.Type.Contains("Language")).ToList())
    	
    	<h3>Applications</h3>	
    	@Html.Partial("_Skill", Model.Skills.Where(m => m.Type.Contains("Applications")).ToList())

    	<h3>Frameworks</h3>
    	@Html.Partial("_Skill", Model.Skills.Where(m => m.Type.Contains("Frameworks")).ToList())

    	<h3>Tools</h3>
    	@Html.Partial("_Skill", Model.Skills.Where(m => m.Type.Contains("Tools")).ToList())
    		
    	<h3>Methodologies</h3>
    	@Html.Partial("_Skill", Model.Skills.Where(m => m.Type.Contains("Methodologies")).ToList())

    	<h3>Operating Systems</h3>
    	@Html.Partial("_Skill", Model.Skills.Where(m => m.Type.Contains("Operating Systems")).ToList())
    } else {
        <p>The skills section is currently down, please come back later!</p>
    }
    
</div><!--#skills-->

<h1 class="dropdown">Projects</h1>
<div id="projects" class="section-display">
	<h3 class="dropdown">Solo Projects</h3>
<div>
<p>
    For these projects, I was in responsible for the requirements capture, 
    design, software development, testing, documentation and maintenance.
</p>

<div class="projects-table">
	<span class="dropdown projects-header">Mobility Tools Suite</span>
	<div class="hidden">
		<div class="projects-table-row">
			<div class="projects-table-cell projects-table-double-column-left">
				<p>
					This contained a suite of applications for the standardisation
                    and digitisation of forms for use around the site. This 
                    also allowed for the tracking, sharing and reporting of 
                    Actions.<br />
					It was created as a web application to be platform agnostic, 
                    but with a focus for use on mobile devices. This meant that 
                    it was created to be look like native applications when added 
                    to iPad home screens.
                </p>
                <p>
					All the applications shared some logic, including an 
                    autocomplete that works comparing known users first and then 
                    all other users in Active Directory that belonged to our site.<br />
					Logging was added for exceptions and some information about 
                    how the application was being used.
				</p>
                <p>
					The data from the front-end applications listed below was 
                    passed to the Business Logic Layers that were specific to 
                    the application, and from there passed on to the Persistence 
                    Layer, and finally to the Data Access Layer that contained 
                    the POCO objects of the SQL Database.
				</p>
			</div>
			<div class="projects-table-cell">
				<h5>Skills</h5>
				<ul class="projects-skills-list text-secondary-colour">
					<li>
						MVC .net Framework 4.5
					</li>
					<li>
						C# Console/Service Applications
					</li>
					<li>
						C# Class Libraries
					</li>
					<li>
						Web API
					</li>
					<li>
						JavaScript
					</li>
					<li>
						jQuery
					</li>
					<li>
						Unobtrusive Validation
					</li>
					<li>
						JSON
					</li>
					<li>
						REST
					</li>
					<li>
						Entity Framework
					</li>
					<li>
						Linq
					</li>
					<li>
						Microsoft SQL DB
					</li>
					<li>
						N-Tier architecture
					</li>
					<li>
						Swift 3
					</li>
					<li>
						Xcode Storyboarding
					</li>
					<li>
						Adobe XD
					</li>
					<li>
						Agile
					</li>
				</ul>
			</div>	
		</div>
		<div class="projects-table-row">
			<div class="projects-table-single-column">
				<h5>Front End Applications:</h5>
				<p>
					<h7>Action Tracker - </h7>
					Used in Operations to shared simple actions with features 
                    such as due dates, action owners, email reminders and audit 
                    trails.<br />
					This was mostly used by sole users on iPads, PCs and on large, 
                    touchscreen, information portals at locations around the site.<br />
					When an action was assigned to a user, they were notified by 
                    email with a link to the action to be completed.
				</p>

				<p>
					<h7>Agile Tracker - </h7>
					A Kanban tool used in IT to track Agile tasks that were 
                    displayed in daily standups.<br />
					Tasks were created and added to the specified project backlog, 
                    where they could be edited, owners could be added or they 
                    could be promoted to “Current”. <br />
					When a task was assigned to a user, they were notified by 
                    email with a link to the task to be completed. <br />
					Once assigned to current, the tasks updated, and the selected 
                    task can then be promoted to “Completed”.<br />
					Every task also contained an audit trail system to track any 
                    changes that have been made through the life of the task.<br />
				</p>


				<p>
					<h7> Meeting Assessment - </h7>
					A meeting tracking tool that users completed a form for each 
                    meeting. The form had several categories, and each question 
                    was given a score, depending on how the meeting went.<br />
					This began as a paper system and the business realised they 
                    started accumulating a lot of data, could not do anything with 
                    it. <br />
					This had a distinct mobile focus to maintain portability 
                    throughout the site, so to select the score, the user clicked 
                    on the text that suited, as opposed to a radio button.<br />
					The score was then updated in real-time on the client, by a 
                    graph. This graph updated on each score change, and changed 
                    colour once the score had reached a certain customisable 
                    percentage. Red for fail, green for pass. This allowed the 
                    users to quickly see where the meeting could be improved.<br />
					If a question had a very poor score, an action would be 
                    created to be completed before the form could be submitted.<br/>
					This was then added to the action tracker to be completed at 
                    another time.<br />
					Fields such as the date and user completed by, could not be 
                    edited to ensure compliance.
				</p>
                <p>
					All previously completed reports could be analysed 
                    individually or in the reporting application.<br />
				</p>


				<p>
					<h7>Meeting Charter - </h7>
					PDFs were being hosted on a network drive and were required 
                    on mobile. This application went to the network drive location 
                    and locally stored the current version of the PDF. <br />
					Every time the PDF was selected from the client, the 
                    application on the server would access the network file 
                    location, and check if the file had been updated. If so, it 
                    would replace the outdated local version with the current, 
                    updated version.<br />
					Admin – This application was the configuration screen for 
                    all the other Mobility Tools applications, and started as 
                    an easier way for me to make database changes quicker and 
                    view development exceptions. As time went on, the need for 
                    other users to perform these applications grew, and the 
                    application was refined.<br />
					It all allowed for tasks like the enable/disable applications
                    from being accessed, add new Meeting Assessment forms, 
                    change the location and names of the PDFs of the meeting 
                    charters etc.<br />
					It also allowed the exceptions and information that was 
                    captured to be displayed in a user-friendly way.
				</p>

				<p>
					<h7>Email Reminder Service - </h7>
					An email reminder was required for actions that were nearing 
                    the due date or overdue. <br />
					A windows service was originally created to send out these 
                    emails, but the requirements changed and it was decided that 
                    the emails should only be sent out once a day. This meant 
                    the application was changed into a console application and 
                    a task was scheduled in Windows to run at the customised 
                    time.<br />
					The bulk of the application was created in a Class Library 
                    so switching was no problem.<br />
					The email template used Razor syntax with a csthml file so 
                    that changes could be added to the html of the file without 
                    needing to recompile the application.<br />
				</p>

				<p>
					<h7>Mobility Application - </h7>
					The server application contained an API for sending JSON 
                    data through RESTful communication.<br />
					This data was then consumed by a Swift application to gain 
                    the benefits of a native application.<br />
					This allowed the users to access the Action Tracker and 
                    Agile Tracker whilst on mobile.<br />
					A VPN was required for mobile devices to access the network 
                    that the server was hosted on. Authentication was achieved 
                    by using the data sent in this connection.<br />
				</p>


				<p>
					<h7>Reporting - </h7>
					Once the data had been captured, analyses of the data could 
                    then be completed. <br />
					This was done using T-SQL queries to get the data into 
                    Tableau.<br />
					Several screens were created to show a range of metrics to 
                    make sense of the data.<br />
				</p>

				<p>
					<h7>iPad Application - </h7>
					An iPad application was created using Swift 3 with the features
				</p>

			</div>
			</div>
	</div>
</div>
	
<div class="projects-table">
	<span class="dropdown projects-header">IPC Visualisation </span>
	<div class="hidden">
		<div class="projects-table-row">
			<div class="projects-table-cell projects-table-double-column-left">
				<p>
					Display screens to show live, statistical and historical 
                    data of the manufacturing lines for informational use on 
                    the factory floor, PC workstations for further analysis and 
                    touch screen information portals to help with the discussion 
                    at standups.<br/>
					This was designed, built, tested and released over several 
                    iterations by myself.<br/>
					The front end was created in Microsoft MVC, using HTML, CSS, 
                    Javascript and AJAX.<br/>
					The data was transferred from the MES databases to the 
                    website SQL database using a bespoke C# Console Application 
                    and Entity Framework.<br/>
				</p>
			</div>
			<div class="projects-table-cell ">
				<h5>Skills</h5>
				<ul class="projects-skills-list text-secondary-colour">
					<li>
						MVC .net Framework 4.5
					</li>
					<li>
						Html with Razor
					</li>
					<li>
						CSS
					</li>
					<li>
						JavaScript
					</li>
					<li>
						Bootstrap
					</li>
					<li>
						jQuery
					</li>
					<li>
						Unobtrusive Validation
					</li>
					<li>
						T-SQL
					</li>
					<li>
						Linq
					</li>
					<li>
						Entity Framework
					</li>
					<li>
						Microsoft SQL DB
					</li>
					<li>
						Agile
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
	
<div class="projects-table">
	<span class="dropdown projects-header">Email Reminder System</span>
	<div class="hidden">
		<div class="projects-table-row">
			<div class="projects-table-cell projects-table-double-column-left">

				<p>
					Consolidation of information from various reports into to 
                    a daily email. <br />
					The data was stored on several databases and gathered using 
                    a Console Application, triggered by a Windows Task.<br />
					The email template was built into the code of the 
                    application.<br />
				</p>
			</div>

			<div class="projects-table-cell projects-table-double-column-left">
				<h5>Skills</h5>
				<ul class="projects-skills-list text-secondary-colour">
					<li>
						C# Console Application
					</li>
					<li>
						.net Framework 4.0
					</li>
					<li>
						T-SQL Queries
					</li>
					<li>
						Microsoft SQL Server
					</li>
					<li>
						Agile
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div> <!--SoloProjects-->

<h3 class="dropdown">Team Projects</h3>
<div>
	<p>
		I was part of the project teams for the following.
	</p>

	<div class="projects-table">
    <span class="dropdown projects-header">Meter Data Capture</span>
        <div class="hidden">
            <div class="projects-table-row">
                <div class="projects-table-cell projects-table-triple-column-left">
                    <p>
                        The system had several components that I worked on.
                        Retreiving blood testing information from USB 
                        and Serial Jack meters, the data was displayed live, 
                        stored in a datavase and had reports generated. 
                        As this was a GxP project, it had to be developed 
                        according to multiple regulations and validation 
                        requirements.
                    </p>
                    <p>
                        I was initially brought on to create an auxiliary 
                        application, but upon completion of this I was placed 
                        onto the main project.<br/>
                        Before my introduction to the project, it was rushed 
                        to the point the code was not human readable, had a lot 
                        bugs and was not modular.<br/>
                        After joining I was able to introduce version control, 
                        introduce some coding standards and add some abstraction 
                        to the layers to help speed up development, while
                        reducing the bug count.
                    </p>
                </div>

                <div class="projects-table-cell">
                    <h5>Skills</h5>
                    <ul class="projects-skills-list text-secondary-colour">
                        <li>
                            C# Webforms Web Application
                        </li>
                        <li>
                            MS SQL Database
                        </li>
                        <li>
                            T-SQL
                        </li>
                        <li>
                            JavaScript
                        </li>
                        <li>
                            jQuery
                        </li>
                        <li>
                            Agile
                        </li>
                    </ul>
                </div>
                <div class="projects-table-cell">
                    <h5>Role</h5>
                    <ul class="projects-skills-list text-secondary-colour">
                        <li>
                            Software Engineer
                        </li>
                        <li>
                            Databse Admin
                        </li>
                        <li>
                            Tester: Dev
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
		<span class="dropdown projects-header">Validated Document Display - Mobility</span>
		<div class="hidden">
			<div class="projects-table-row">
				<div class="projects-table-cell projects-table-triple-column-left">
					<p>
						iPads were introduced onto the site for faster electronic
                        document retrieval on the factory floor, as well as to 
                        give a platform for the LifeScan Mobility Tools 
                        Application, IPC visualisation and other manufacturing 
                        display screens. The main challenge for this project 
                        was to introduce new technology in a validated 
                        environment. <br />
						For this project, I was working with someone to create 
                        a iOS native application, using Objective-C I created 
                        the application and they were focussed on the data. 
                        Because of business compliance, we were required to use 
                        Microsoft SQL to store the data. Our solution was to use
                        JSON to send/receive the data between my iOS application 
                        and his database.<br />
					</p>
				</div>

				<div class="projects-table-cell">
					<h5>Skills</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							Xcode Storyboarding
						</li>
						<li>
							Objective-C
						</li>
						<li>
							Microsoft SQL
						</li>
						<li>
							JSON
						</li>
						<li>

						</li>
						<li>
							Validation
						</li>
						<li>
							Waterfall
						</li>
					</ul>
				</div>
				<div class="projects-table-cell">
					<h5>Role</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							Client Application Developer
						</li>
						<li>
							Document Author
						</li>
						<li>
							Tester: Dev, QA, Prod
						</li>

					</ul>
				</div>
			</div>

			<div class="projects-table-row">
				<div class="projects-table-cell projects-table-triple-column-left">
					<p>
						This application was then replaced by the enterprise 
                        application solution. <br />
						This application required a new validation approach to 
                        the company, as we were still using iPads in a GxP 
                        Validated environment.<br />
						GxP Compliance says that once the system is validated 
                        no changes can be made to the system, so when the iOS 
                        version is upgraded, for example from iOS 10.2 to 10.3, 
                        the change requires re-validation of the system. <br />
						The team decided on a single, lightweight test for each 
                        version to ensure the application worked with the new 
                        iOS.<br />
						I was responsible for monitoring for new versions of 
                        iOS, carrying out this test and completing all the 
                        relevant documentation. This occurred around every 2 
                        weeks.
					</p>
				</div>

				<div class="projects-table-cell">
					<h5>Skills</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							GxP Validation
						</li>
						<li>
							Waterfall
						</li>
					</ul>
				</div>
				<div class="projects-table-cell">
					<h5>Role</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							Document Author
						</li>
						<li>
							Tester: Dev, QA, Prod
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="projects-table">
		<span class="dropdown projects-header">Labelling Application Update </span>
		<div class="hidden">
			<div class="projects-table-row">
				<div class="projects-table-cell projects-table-triple-column-left">

					Updated a legacy application to include change a field value.<br />
					Simple code change which lead to a huge amount of documentation.<br />
				</div>

				<div class="projects-table-cell">
					<h5>Skills</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							C# Web Forms
						</li>
						<li>
							.net Framework 1.1
						</li>
						<li>
							VB6
						</li>
						<li>
							T-SQL Queries
						</li>
						<li>
							SQL Stored Procedures
						</li>
						<li>
							Microsoft SQL Server
						</li>
						<li>
							GxP Documentation
						</li>
						<li>
							Waterfall
						</li>
					</ul>
				</div>

				<div class="projects-table-cell">
					<h5>Role</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							Application Developer
						</li>
						<li>
							Document Author
						</li>
						<li>
							Tester: Dev, QA, Prod
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!--TeamProjects-->
	
<h3 class="dropdown">Open Source Projects</h3>
<div>
	<p>
		I started using GitLab as a way to backup and transfer my personal 
        projects between computers. In doing this I started using Git fully and 
        realised its advantages.<br/>
		These are some of my personal projects I have decided to host publically.
	</p>
	<div class="projects-table">
		<span class="dropdown projects-header">DnD - Character Sheet </span>
		<div class="hidden">
			<div class="projects-table-row">
				<div class="projects-table-cell projects-table-triple-column-left">
                    <p>
    					When playing Dungeons and Dragons I had realised that certain 
                        parts of my hard copy character sheet had been getting consitently 
                        changed, such as spell slots, health, inventory etc. This 
                        meant these parts of the pages were getting illegible> I 
                        also needed to look up things in the Players Hand Book,
    					like available spells, spell effects and spellslevels.<br />
    					I started looking for an iOS application that I could use 
                        on my iPad to keep a track of these things, and realised 
                        there wasn't anything that fitted exactly what I needed.
                    </p>
                    <p>
    					Because of this I started creating a Swift app that me 
                        and the rest of the party could use for keeping track in game.
                    </p>
				</div>

				<div class="projects-table-cell">
					<h5>Skills</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							Swift 3
						</li>
						<li>
							Core Data
						</li>
						<li>
							JSON
						</li>
					</ul>
				</div>

				<div class="projects-table-cell">
					<h5>Role</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							Application Developer
						</li>
						<li>
							Document Author
						</li>
						<li>
							Tester: Dev, QA, Prod
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="projects-table">
		<span class="dropdown projects-header">John D Lees - Personal Site (this)</span>
		<div class="hidden">
			<div class="projects-table-row">
				<div class="projects-table-cell projects-table-triple-column-left">
                    <p>
    					I started creating this site as a way to demonstrate what I 
                        am capable of doing with respect to web development.<br/>
                        <a href="https://gitlab.com/johndlees/johndlees/"
                        target="_blank">The code can be found hosted on my Gitlab 
                        profile</a>
                    </p>
                    <p>
    					It is hosted on a shared server, which means I am somewhat 
                        restricted by what my hosting provider allows.<br />
    					Although currently this is created using MVC 4 and .net 
                        4.0, I hope to upgrade soon and start using dotnet core.
                    </p>
                    <p>
                        The skills levels are currently stored in a csv until
                        I get time to host them in a SQL Database
                    </p>
				</div>

				<div class="projects-table-cell">
					<h5>Skills</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							MVC 4
						</li>
						<li>
							.net Framework 4.0
						</li>
						<li>
							jQuery
						</li>
						<li>
							JavaScript
						</li>
						<li>
							CSS
						</li>
					</ul>
				</div>

				<div class="projects-table-cell">
					<h5>Role</h5>
					<ul class="projects-skills-list text-secondary-colour">
						<li>
							Web Developer/Designer
						</li>
						<li>
							Server manager
						</li>
						<li>
							DBA
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="projects-table">
        <span class="dropdown projects-header">Steve Bull Productions</span>
        <div class="hidden">
            <div class="projects-table-row">
                <div class="projects-table-cell projects-table-triple-column-left">
                    <p>
                       After creating my personal site, I made a website for 
                       one of my friends music business.<br/>
                       <a href="https://gitlab.com/johndlees/steve-bull-productions" 
                       target="_blank">This code can also be found hosted on my 
                        Gitlab profile</a>
                    </p>
                    <p>
                        It is also hosted on my shared server, so it suffers
                        from the save limitations as before.
                    </p>
                </div>

                <div class="projects-table-cell">
                    <h5>Skills</h5>
                    <ul class="projects-skills-list text-secondary-colour">
                        <li>
                            MVC 4
                        </li>
                        <li>
                            .net Framework 4.0
                        </li>
                        <li>
                            jQuery
                        </li>
                        <li>
                            JavaScript
                        </li>
                        <li>
                            CSS
                        </li>
                    </ul>
                </div>

                <div class="projects-table-cell">
                    <h5>Role</h5>
                    <ul class="projects-skills-list text-secondary-colour">
                        <li>
                            Web Developer/Designer
                        </li>
                        <li>
                            Server manager
                        </li>
                        <li>
                            DBA
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--OpenSourceProjects-->

</div><!--#projects-->

<h1>Contact</h1>
<div id="contact" class="section-display">
	<span>For all enquiries, please contact me through email.</span>
	<address>
		<a href="mailto:contact@johndlees.com">contact@johndlees.com</a>
	</address>

	<span>
		You can also find me on 
        <a href="https://www.linkedin.com/in/john-lees-09254245/">Linkedin</a>
	</span>
</div><!--#contact-->