﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>John D Lees</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/navbar.css"/>
    </environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/navbar.css"/>
    </environment>
</head>
<body>
<header class="shadow">
    <div id="logo" class="logo">
        <span class="logo" onclick="navbar.homeDiv()">John D Lees</span>
        <span class="node-link nav-icon" onclick="navbar.addOrRemoveResponsiveClass()">&#9776;</span>
    </div>

    <div id="jl-navbar" class="topnav align-centre">
        <ul class="jl-navbar">
            <li class="jl-navbar">
                <a class="node-link jl-navbar" href="@ViewData["HeaderLinkOrElement"]about">About</a>
            </li>
            <li class="jl-navbar">
                <a class="node-link jl-navbar" href="@ViewData["HeaderLinkOrElement"]software">Software</a>
            </li>
            <li class="jl-navbar">
                <a class="node-link jl-navbar" href="@ViewData["HeaderLinkOrElement"]camera">Camera</a>
            </li>
            <li class="jl-navbar">
                <a class="node-link jl-navbar" href="@ViewData["HeaderLinkOrElement"]hobbies">Hobbies</a>
            </li>
            <li class="jl-navbar">
                <a class="node-link jl-navbar" href="/Contact">Contact</a>
            </li>
        </ul>
    </div>
</header>

<div class="intro-header">
    <div class="intro-content cc-homepage">
        <div class="intro-text">
            <div class="heading-jumbo">Hello!</div>
            <div class="paragraph-bigger cc-bigger-white-light">Welcome to a quick page about me<br></div>
        </div>
    </div>
</div>

<div class="body-content">
    <div class="body-container">
        @RenderBody()
    </div>
    <hr/>
</div>
<footer class="border-top footer text-muted">
    &copy; 2022 - John D Lees - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/navbar.js"></script>
    <script src="~/lib/pdfobject.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
    <script src="~/lib/navbar.js"></script>
    <script src="~/lib/pdfobject.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
@Html.Hidden("DownloadCvLocation", Url.Action("DownloadCv", "Home"))
@RenderSection("Scripts", required: false)
</body>
</html>