<h2 class="dropdown">CV</h2>
<div id="cv" class="section-display">
    <div id="pdfRenderer" class="shadow"></div>
    <div>
        <button class="download-cv node-link shadow">Download CV</button>
    </div>
</div>