<h2 class="dropdown">Software Work Experience</h2>
<div id="about" class="section-display">
    <h7>
        LifeScan Scotland - Formerly Johnson & Johnson
    </h7>
    <div class="experience-table">

        <div class="experience-table-cell experience-table-double-column-left">
            <span>
                Senior Software Developer:<br />
                2018 - Present <br /><br />
                IT Analyst, Contractor:<br/>
                2016 - 2018 <br/><br/>
                Software Engineer Intern:<br/>
                2015 - 2016
            </span>
        </div>
        <div class="experience-table-cell">
            <p>
                I have been leading the IT Software Development team since 2018, my day to day varies pretty wildly.
                <br/>
                Some days I'll be managing projects at high or lower levels, designing applications at high/low levels, writing/reviewing technical documentation and tackle technical challenges the team have. And Even less of the time I get to write full applications start to finish.
                <br/><br/>
                We're a small development team that serves a large variety of function so we all need to be full stack but I definitely prefer doing backend work. It reminds of maths problems at school vs english problems, with maths there's a right answer and with backend they can't ask to change the colour of the button! 
            </p>
        </div>
    </div>
    <div class="experience-table-row">
        <div class="experience-table-cell experience-table-double-column-left">

        </div>
    </div>
</div>