<a data-flickr-embed="true" href="https://www.flickr.com/photos/193434645@N05/albums/72177720296658747" title="Website Embed">
    <img class="johndlees-flickr" src="https://live.staticflickr.com/65535/51311981988_1d24bbd14d_z.jpg" width="640" height="480" alt="Website Embed">
</a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>