@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>

<span>For all enquiries, please contact me through email.</span>
<address>
    <a href="mailto:contact@johndlees.com">contact@johndlees.com</a>
</address>

<span>
    You can also find me on
    <a href="https://www.linkedin.com/in/john-lees-09254245/">Linkedin</a>
</span>