﻿@{
    ViewBag.Title = "John D Lees";
}

<h1>About</h1>
<div id="about" class="section-display">
    <div class="welcome-left-column column">
        <h2>Who I am</h2>
        <p>
            I am a Senior Software developer, currently working at LifeScan Scotland, who also likes to take video, photos, play American Football, write software, play music with rock instruments, with soft synths, hardware synths... Lots of things. My plan is to keep this site updated with things I am working on or doing, so you will find all links to some of the various things I can share.
            <br>
            <br>
            This site is made in DotNet Core and built/deployed using <a href="https://gitlab.com/johndlees/johndlees/pipelines" class="link">CI/CD pipeline</a>
            . This page could easily be an HTML/JS/CSS static page, but I'm still hopeful I'll find the time to expand it more. The pipeline, issue tracker and code for the site are all publicly available on
            <a href="https://gitlab.com/johndlees/johndlees">GitLab</a><a href="https://gitlab.com/johndlees/johndlees">GitLab</a>
        </p>
        <p class="bottom">
            I'm also on <a href="https://www.linkedin.com/in/john-lees-09254245/">LinkedIn</a> with some more detailed project information.
        </p>
    </div>
    <div class="welcome-right-column column image-object ">
        <img src="~/images/john-steve-woods.jpg" alt="Me balancing a gimbal with Steve in the woods taken by Kenneth Millen"
             class="image-border image-train image-column"/>
    </div>
</div>

<hr/>

<h1>Software Development</h1>
<div id="software" class="section-display">
    <div class="welcome-left-column column">
        <partial name="_Experience"/>
    </div>
    <div class="welcome-right-column column image-object ">
        <h2>What I do</h2>
        <p>
            I started my Software Development career in LifeScan Scotland with a one-year contract in 2015 as an IT intern.
            <br/>
            At the time I was working on small development projects and managing the introduction of mobility to the site in the form of Apple iPads. After my year was up I was kept on as a yearly contractor until 2018 when I was made the Senior Software Developer in IT.
            <br/>
            One of the biggest reasons I have stayed with Lifescan all this time is because of the people I get to work with. My own development team, the larger IT team and people I work with in the company.
            <br/>
            I am a huge fan of comprehensive test suites and automating boring/time consuming parts of the process and tend to prefer simple UI/UX over elaborate design.
        </p>
        <p>
            My <a href="https://www.linkedin.com/in/john-lees-09254245/">Linkedin</a> has more information about some of the projects I have been working on recently.
        </p>
    </div>

    <partial name="_CV"/>

    <h2>Non-work Projects</h2>
    <div class="welcome-left-column column">
        <h3>Music Hosting</h3>
        <p>
            Most of my non-work projects are focussed around music and audio related things.
            <br/>
            I use Spotify for most of my music needs these days but over the years (on top of a my fairly substantial record collection), I have been collecting loads of music that isn't available online along with a whole heap of music that me and my friends have been writing/producing over the years. The plan is to be able to listen to it on my phone and echo in the kitchen.
            <br/>
            I'm currently setup with plex, which is totally serviceable and works, but I'm not a fan of the UI for searching or creating playlists.
            <br/>
            I have some experience with emby, but I'm not against a bit of work to get something fully OSS setup. Also as plex is £5 a month for the mobile app I wouldn't mind having a totally "free" alternative (and of course pay with my time instead).
        </p>
    </div>
    <div class="welcome-right-column column image-object ">
        <img src="images/AudioStreamingSetup.drawio.png" alt="Quick architecture diagram of my digital listening setup" class="image-column"/>
    </div>

    <div class="welcome-left-column column">
        <img src="images/PingPingDelay.png" alt="Current UI screenshot of my PingPing Delay plugin" class="image-column"/>
    </div>
    <div class="welcome-right-column column image-object ">
        <h3>Audio Plugins</h3>
        <p>
            I have been writing C++ audio plugins for personal use and have two in mind I would like to release.
        </p>

        <ul>
            <li>RekkyCompressor</li>
            <li>PingPing Delay</li>
        </ul>
        <p>
            The ultimate plan is to share with producer friends and maybe make the code public for a bit of C++ portfolio work, but finding the time is tough at the moment because of the significant mental overlap with my current role at Lifescan
            <br>
            I'll update here when they're ready.
        </p>
    </div>
</div>

<hr/>

<h1>Camera</h1>
<div id="camera" class="section-display">
    <div class="welcome-left-column column">
        <h2>Video</h2>
        <p>
            A couple of years ago, <a href="http://www.stevebullproductions.co.uk/">Steve Bull</a>
            asked me to hold a camera for him at a gig. I ended up having a good time and after doing a couple of shows I realised that I finally had a reason to research and learn about a new area of tech that I have always been interested in. This led me to borrowing some Sony Mirrorless cameras from a friend and now means I have to spend my life resisting the urge to spend money on another hobby. Although it means I now have a camera of my own to take with me everywhere (and then not actually take out of my bag).
        </p>
        <img src="images/john-video.jpeg" alt="Me taking video of the band Silvercoast taken by Kenneth Millen" class="image-column"/>
    </div>
    <div class="welcome-right-column column image-object ">
        <partial name="_JohnDLeesInstagram"/>
    </div>

    <div class="welcome-left-column column">
        <div class="flickr-container">
            <partial name="_JohnDLeesFlickr"/>
        </div>
    </div>
    <div class="welcome-right-column column image-object ">
        <h2>Stills</h2>
        <p>
            I also like to go out and take photos, and much prefer taking photos to editing. My favourite subjects are random dogs and astrophotography. Unfortunately, living in Scotland there's not many clear nights that coincide with a full moon.
        </p>
        <p>
            I share some images up on Flickr occasionally.
        </p>
    </div>
</div>

<hr/>

<h1>Other Hobbies</h1>
<div id="hobbies" class="section-display">
    <div class="welcome-left-column column">
        <h2>I also like doing a bunch of other things</h2>
        <h3>Football</h3>
        <p>
            I play American Football for the Highland Stags, a team located in Inverness that won the BAFA Saltire Division in 2021.
            <br/>
            I have been playing with the team for a few years now and we're always looking for new players if anyone is in the area!
            <br/>
            <br/>
            The best place to get in contact is through <a href="https://www.facebook.com/highlandstags">Facebook</a>
        </p>
    </div>
    <div class="welcome-right-column column image-object">
        <img src="images/stags-logo.png" alt="The logo for the Highland Stags" class="image-column"/>
    </div>

    <div class="welcome-left-column column">
        <img src="images/Synths.jpeg" alt="Collection of my synthesizers" class="image-column"/>
    </div>
    <div class="welcome-right-column column image-object ">
        <h2>Music</h2>
        <h3>Electronic</h3>
        <p>
            I have been playing guitar for many years now, it's actually why I got in to software development in the first place. A few years ago I was in a few terrible bands and decided I wanted to buy some form of synthesizer and ended up buying a Korg Electribe EMX-1. As it was a groovebox, it led me to look into DAWs, which led to Ableton Live, which led to Max for Live and I decided I would be interested in going to Glasgow Caledonian University to study Audio Technology with Electronics..
            <br/>
            From there we did a Java module, where we created a Ping Pong Delay and I figured that I could do this more.
        </p>
        <p>
            Over the years I have collected quite a few hardware synths and I like doing music production them, although I find myself way more productive with a laptop, DAW and headphones. I had big plans to move to a DAW-less setup but I always spend the whole time noodling, and never manage to create anything substantial.
        </p>
    </div>

    <div class="welcome-left-column column">
        <h3>Rock Instruments</h3>
        <p>
            As I said above, I have been in bands since I was 14 and we were terrible. Now I'm a bit older I still enjoy jamming with friends, we're still terrible but the gear is much nicer!
        </p>
        <p>
            Primarily I have generally been a guitarist but my role is generally to fit in wherever I'm needed, guitar, drums bass but not vocals.. There's always a better choice for that.
        </p>
    </div>
    <div class="welcome-right-column column image-object ">
        <img src="images/Guitars.jpeg" alt="My two favourite guitars" class="image-column"/>
    </div>
</div>