﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This web site does not knowingly use cookies for any purposes, however Instagram is connected
    via LightWidget and it is possible they may use Cookies as per their policies below:
    <br/>
    <a href="https://lightwidget.com/cookies">LightWidgets Cookie Policy.</a>
    <br/>
    <a href="https://help.instagram.com/1896641480634370">Instagram's Cookie Policy.</a>
    
    <br/>
    I also have not found anything to suggest Flickr will track throught their plugin, but I am not convinced that they do not:
    <a href="https://www.flickr.com/help/cookies">Flickr's Cookie Policy.</a>
</p>
