﻿﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>John D Lees</title>
	@Styles.Render("~/bundles/fonts")
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
<header class="shadow">
	<div id="logo" class="logo">
		<span class="logo" onclick="navbar.homeDiv()">John D Lees</span>
		<span class="node-link nav-icon" onclick="navbar.addOrRemoveResponsiveClass()">&#9776;</span>

	</div>

	<div id="navbar" class="topnav align-centre">
		<ul class="navbar">
			<li class="navbar">
				<div class="jl-navbar-brand shadow" id="home-logo">
					<div class="overlay" onclick="location.href='#home'"></div>
				</div>
			</li>
				
			<li class="navbar"><a class="node-link navbar" href="#home">Home</a></li>
				
			<li class="navbar"><a class="node-link navbar" href="#about">About</a></li>
			
			<li class="navbar"><a class="node-link navbar" href="#cv">CV</a></li>

			<li class="navbar"><a class="node-link navbar" href="#skills">Skills</a></li>
			
			<li class="navbar"><a class="node-link navbar" href="#projects">Projects</a></li>

			<li class="navbar"><a class="node-link navbar" href="#contact">Contact</a></li>

		</ul>
		<div class="stick-bottom">
			<a href="https://www.linkedin.com/in/john-lees-09254245/" class=linkedIn>Linkedin</a>
		</div>
	</div>
</header>
<div class="body-content">
	<div class="body-container">
		@RenderBody()
	</div>
	<hr />
	<footer>
		<p>&copy; @DateTime.Now.Year - John D Lees</p>
	</footer>
</div>

@Html.Hidden("DownloadCvLocation", Url.Action("DownloadCv", "Home"))

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)



</body>
</html>
