﻿header {
	width: 250px;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #34495e;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;

	-webkit-box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 12px -5px rgba(0,0,0,0.75);
}

.jl-navbar {
	position: relative;
	z-index: 1000;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	line-height: 70px;
	font-size: large;
	display: inline-block;
	color: #ecf0f1;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
}

.jl-navbar-brand {
	z-index: 10000;
	width: 150px;
	height: 150px;
	background: rgba(0, 0, 0, 0.8);
	line-height: 95px;
	background-image: url('images/john-suit.jpg');
	background-position: center;
	border-radius: 50%;
	display: block;
	transition-duration: 300ms;
	color: transparent;
	margin: 5px auto 5px auto;
}

.jl-navbar:hover {
	text-decoration: none;
}

.jl-navbar-brand:hover {
	text-decoration: none;
	transition-duration: 300ms;
	background: rgba(0, 0, 0, 1);
	background-image: url('images/john-suit.jpg');
	background-position: center;
	color: transparent;
}

	.jl-navbar-brand:hover > .overlay {
		width: 100%;
		height: 100%;
		transition-duration: 300ms;
		background-position: center;
		background-color: #000;
		opacity: 0.5;
		border-radius: 50%;
	}

.jl-navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	border-width: 0 0 1px;
	top: 0;
	z-index: 1030;
}

@media (min-width: 768px) {
	.nav-bar-fixed-top,
	.nav-bar-fixed-bottom {
		border-radius: 0;
	}
}

.jl-navbar-inverse {
	background-color: #222222;
	border-color: #080808;
}


.stick-bottom {
	position: absolute;
	bottom: 0;
	left: calc(50% - 60px);
	padding-bottom: 15px;
}

span.logo {
	color: #ecf0f1;
	font-size: xx-large;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	font-family: Encode Sans;
	font-weight: 700;
}

div.logo {
	background-color: #252525;
	height: 50px;
	width: 100%;
	text-align: center;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a.navbar {
	position: relative;
	z-index: 1000;
	/*	height: 50px;*/
	width: 100%;
	line-height: 40px;
	font-size: large;
	display: inline-block;
	color: #ecf0f1;
	text-decoration: none;
}

	a.navbar:hover {
		background-color: #555;
		color: white;
	}

.nav-icon {
	display: none;
	color: white;
	font-size: xx-large;
	padding-right: 5px
}


@media screen and (max-width: 800px) {
	#navbar li {
		display: none;
	}

	.stick-bottom {
		display: none;
	}

	.nav-icon {
		float: right;
		display: block;
	}

	header {
		width: 100%;
		height: auto
	}

	.body-content {
		padding-left: 5px;
		padding-right: 5px;
	}

	.body-container {
		padding-left: 5px;
		padding-right: 5px;
		width: 95%
	}

	.column {
		float: none;
		margin-left: 0;
		width: 100%;
	}

		.column.image-object > img {
			margin: auto;
			display: block;
		}

	#navbar li.responsive {
		position: relative;
	}

	.topnav.responsive span.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive span {
		float: none;
		display: block;
		text-align: center;
	}

	#navbar.responsive {
		height: 160px;
		max-height: none
	}

		#navbar.responsive li:not(:first-child) {
			display: list-item;
		}
}

@media screen and (max-height: 500px) {
	.linkedIn {
		display:none;
	}
}