﻿body {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #272727;
  font-family: 'Montserrat', sans-serif;
  color: #b6b9c2;
}

.highlight-colour {
  background-color: #34495e;
  color: white;
}

.highlight-colour-light {
  background-color: #6C7E8F;
  color: #ecf0f1;
}

.shadow {
  -webkit-box-shadow: 3px 3px 30px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 30px -5px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 30px -5px rgba(0,0,0,0.75);
}


/* Set padding to keep all content from hitting the edges */
.body-content {
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1300px;
  margin: auto;
}

hr {
  margin-bottom: 100px;
  margin-top: 30px;
  opacity: 0.6;
  width: 100%;
}

h1 {
  width: 300px;
  margin-top: 60px;
  color: #fff;
  font-size: 1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-style: italic;
  padding-left: 50px;
  color: #d9dadb;
}

h7 {
  display: inline;
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
}

p {
  color: #e2e5f0;
  opacity: 0.6;
}

a {
  color: #8B5FBF;
}

/*Text*/
.text-secondary-colour {
  color: #464646
}

.text-highlight {
  color: black;
  font-weight: bold;
  font-style: italic
}

.textShadow {
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.body-container {
  padding: 5px 30px 15px;
  width: 100%;
  margin: auto;
}

#menu-outer {
  margin-top: -22px;
}


ul#horizontal-list {
  width:100%;
  height:20px;
  text-align:center;
}
ul#horizontal-list li {
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  color:white;
  margin-right:10px;
}

nav {
  text-align: center;
}


.container {
  margin: auto;
  width: 200px;
  text-align: center;
}

.align-centre {
  text-align: center;
}

.node-link {
  cursor: pointer;
}

.section-display {
  display: block;
  margin-bottom: 50px;
}

.dropdown {
  cursor: pointer;
  display:block
}

.hidden {
  display: none;
}

.hidden p {
  -webkit-margin-start: 0;
  margin-top: 0;
  padding-top: 0;
}

.image-border {
  padding: 15px 15px 15px 15px;
}

.image-column {
  display: block;
  margin: auto;
  max-width: 450px;
}

img.image-train {
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flickr-container {
  padding-top: 30px;
  padding-bottom: 10px;
}

.intro-header {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;
  background: #000000 url("../images/john-sitting.jpg") no-repeat 50% 50%;
  background-size: auto 100%;
  margin: auto;
  max-width: 1600px;
}

.intro-content {
  text-align: center;
  margin: 50px;
}

.heading-jumbo {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 10px;
}

.paragraph-bigger {
  opacity: 0.6;
  font-size: 20px;
}

/*Welcome*/
.welcome-left-column {
  width: 58%;
  padding-right: 2%;
  float: left;
}

.welcome-right-column {
  width: 38%;
  padding-left: 2%;
  float: left;
}

.welcome-bottom {
  display: inline-block;
}

/*ExperienceTable*/
.experience-table-double-column-left {
  width: 35%
}

.experience-table {
  display: table
}

.experience-table-row {
  display: table-row
}

.experience-table-cell {
  display: table-cell;
  padding: 10px;
}


/*SkillTable*/
.skills {
  width: 100%
}


th, td {
  text-align: left;
  padding: 8px;
}


.skills > table tr.skills {
  height: 40px;
}

div.skills {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

/*ProjectsTable*/
.projects-header {
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  margin-left: 80px;
  margin-top: 10px;
  color: #464646;
}

.click-to-expand {
  font-weight: normal;
  color: #464646;
  font-size:medium
}

.projects-table {
  display: table
}

.projects-table-row {
  display: table-row;
}

.projects-table-cell {
  display: table-cell;
  padding-left: 10px;
  padding-top: 0;
}

.projects-table-double-column-left {
  width: 72%
}

.projects-table-triple-column-left {
  width: 60%
}

.projects-table-single-column {
  width: 133%
}

.projects-skills-list {
  padding-left: 20px;
  list-style-type: circle;
}

/*Star Colouring*/
.stars {
  width: 100px;
}

span.stars {
  color: #34495e
}


/*PDF Viewer*/
#pdfRenderer {
  width: 100%;
  height: 400px;
  border: 1px double #14293e;
}
.pdfobject-container {
  height: 500px;
}


/*CV Download*/
.download-cv {
  padding: 15px 20px;
  border-radius: 5px;
  display: block;
  width: 130px;
  margin: 10px auto 0 auto;
  background-color: #1a1b1f;
  color: #ecf0f1;
  border: none;
}

.download-cv:hover {
  background-color: #14293e;
  color: #DFDFDF;
}

/*Screen size*/
@media screen and (min-width: 1200px) {
  .projects-table-cell p {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1240px) {
  div.skills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  #pdfRenderer {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  div.skills {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  #pdfRenderer {
    display: none;
  }

  /*ExperienceTable*/
  .experience-table-cell {
    display: block
  }


  .experience-table-double-column-left {
    width: 100%
  }

  /*Projects*/
  .projects-table-cell {
    display:block
  }

  .projects-table-double-column-left {
    width: 100%
  }

  .projects-table-triple-column-left {
    width: 100%
  }

  .projects-table-single-column {
    width: 100%
  }

  img.image-train {
    max-width: 220px;
    width: 94%;
    height: 100%;
    overflow: hidden;
  }
}
